body {
  background-color: black;
  color: white;
  font-size: 40px;
  text-align: center;
}

.l-text {
  font-weight: bolder;
  margin-top: 20px;
}

.s-text {
  margin: 17px 0 10px;
  font-size: 15px;
}

.m-text {
  font-size: 20px;
}

#top-separator {
  margin-top: 6%;
}
