@import url(http://fonts.googleapis.com/css?family=Lato:300,400);
body {
  background-color: black;
  color: white;
  font-family: Lato;
  font-size: 61px;
  text-align: center;
}

#top-separator {
  margin-top: 7.6%;
  font-weight: lighter;
}

.l-text {
  font-weight: bold;
  margin-top: 20px;
}

.m-text {
  font-size: 20px;
}

.s-text {
  margin: 17px 0 10px;
  font-size: 15px;
}

.clockStyle {
  display: inline-block;
  border-radius: 50%;
  border: solid 4px #c8cacc;
  width: 160px;
  padding: 10px 9px 43px 4px;
  text-align: center;
  font-size: 32px;
  margin: 10px 19px 10px 19px;
}
